body {
  display: grid;
  height: 100vh;
  grid-template-rows: 11.72vh 1fr 3.25vh;
  grid-template-areas: "toolbar"
  "main"
  "footer"
}

.toolbar{grid-area: toolbar;}
.m-main{grid-area: main;}
.footer{grid-area: footer;}

.m-main {
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.toolbar, .footer {
  background-color: #2f332e;
}
