.m-wrapper {
  display: grid;
  height: 100vh;
  grid-template-rows: 14vh 1fr 4vh;
  grid-template-columns: 1fr 25vw;
  grid-template-areas: "header header"
  "main aside"
  "footer footer"
}

.m-header{grid-area: header;}
.m-aside{grid-area: aside;}
.m-main{grid-area: main;}
.m-footer{grid-area: footer;}

.m-header, .m-footer {
  background-color: #2f332e;
}

.m-aside {
  background-color: #333; 
}

.m-main {
  padding: rem(20); 
  overflow: auto;
  
  &::-webkit-scrollbar { 
    display: none; 
  }
}