@import "mixins";
@import "var";

.m-main {
  display: grid;
  grid-template-columns: 1fr 25vw;
  grid-template-areas: "m-main__container m-aside";

  &__container {
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.m-aside {
  grid-area: m-aside;
  background-color: #333;
  transition: all $animation-speed;
}

.m-main__container {
  grid-area: m-main__container;
  transition: all $animation-speed;
}

.m-main--left {
  grid-template-columns: 25vw 1fr;
  grid-template-areas: "m-aside m-main__container";

  &.m-main--close {

    .m-main__container {
      margin-right: initial;
      margin-left: -25vw;
    }

    .m-aside {
      margin-left: -25vw;
      margin-right: 25vw;
    }
  }
}

.m-main--close {

  .m-main__container {
    margin-right: -25vw;
  }

  .m-aside {
    margin-left: 25vw;
  }
}


