@import "mixins";
@import "var";

.m-main__container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding-right: rem(20);
  grid-template-areas: "m-main__header" "m-message__container" "m-message__send";
}

.m-main__header {
  grid-area: m-main__header;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $gray-80;
  box-shadow: 0 rem(1) 0 $white;

  a {
    content: "";
    position: absolute;
    left: rem(10);
    display: block;
    background: url('../img/sprite.png') no-repeat -1px -143px;
    width: 13px;
    height: 12px;
  }

  .m-header__heading span  {
    color: $gray-50;
  }
}

.m-message__container {
  grid-area: m-message__container;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.m-main__header, .m-message__container, .m-message__send {
  padding: rem(20) 0 rem(20) rem(110);
  box-sizing: border-box;
}

.m-message__send {
  grid-area: m-message__send;
  display: flex;
  align-items: center;
  position: relative;

  textarea {
    position: relative;
    width: 100%;
    height: rem(50);
  }

  a {
    line-height: rem(22);
    color: $fc-gray-main;
    font-weight: bold;
    font-size: rem(14);
    position: absolute;
    right: rem(10);
  }
}
