@import "mixins";
@import "var";

.m-main {
  display: grid;
  overflow: hidden;

  &__container {
    overflow: auto;
    grid-area: m-main__container;
    margin-right: -25vw;
    padding-right: 0;
    transition: all $animation-speed;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "m-main__header" "m-message__container" "m-message__send";

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .m-aside {
    grid-area: m-aside;
    background-color: #333;
    transition: all $animation-speed;
  }

  .m-main__header, .m-message__container, .m-message__send {
    padding: rem(20) rem(110);
  }

  &.m-main--right {
    grid-template-columns: 1fr 25vw;
    grid-template-areas: "m-main__container m-aside";

    .m-aside {
      margin-left: 25vw;
    }

    &.active {
      .m-main__container {
        margin-right: 0;
        padding-right: rem(20);
      }

      .m-aside {
        margin-left: 0;
      }

      .m-main__header, .m-message__container, .m-message__send {
        padding: rem(20) 0 rem(20) rem(110);
      }
    }
  }

  &.m-main--left {
    grid-template-columns: 25vw 1fr;
    grid-template-areas: "m-aside m-main__container";
    margin-left: -25vw;

    .m-main__container {
      margin-right: 0;
    }

    .m-aside {
      margin-right: 25vw;
    }

    &.active {
      .m-main__container {
        margin-left: 25vw;
        padding-left: rem(20);
      }

      .m-aside {
        margin-right: -25vw;
        margin-left: 25vw;
      }

      .m-main__header, .m-message__container, .m-message__send {
        padding: rem(20) rem(110) rem(20) 0;
      }

      .m-main__header {
        padding-left: rem(70);

        a {
          left: 0;
        }
      }
    }
  }
}

.m-main__header {
  grid-area: m-main__header;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $gray-80;
  box-shadow: 0 rem(1) 0 $white;

  a {
    content: "";
    position: absolute;
    left: rem(10);
    background: url('../img/sprite.png') no-repeat -1px -143px;
    width: 13px;
    height: 12px;
  }

  .m-header__heading span {
    color: $gray-50;
  }
}

.m-message__container {
  grid-area: m-message__container;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.m-main__header, .m-message__container, .m-message__send {
  padding: rem(20) 0 rem(20) rem(110);
  box-sizing: border-box;
}

.m-message__send {
  grid-area: m-message__send;
  display: flex;
  align-items: center;

  textarea {
    width: 100%;
    height: rem(50);
  }

  a {
    line-height: rem(22);
    color: $fc-gray-main;
    font-weight: bold;
    font-size: rem(14);
    right: rem(10);
    margin-left: rem(-22);
  }
}
