@import "mixins";
@import "var";


.m-message {
  display: flex;
  margin-bottom: rem(20);

  .avatar-l {
    flex: 0 0 auto;
    margin-right: rem(23);
    margin-left: rem(5);
  }

  &__content {
    flex: 1 0 50vw;
    min-width: 47.14vw;
    box-sizing: border-box;
    position: relative;
    background-color: $white;
    border-radius: rem(3);
    box-shadow: 0 rem(1) rem(1) $gray-80;

    &::after {
      left: rem(-10);
      content: "";
      position: absolute;
      top: 0;
      border: rem(10) solid transparent;
      border-top: rem(10) solid $white;
    }

    &::before {
      left: rem(-13);
    }
  }

  // message header
  &__content-header {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    height: rem(29);
    padding: 0 rem(10) 0 rem(10);
    font-size: rem(12);
    color: $gray-50;
    border-bottom: rem(1) solid $gray-80;

    span {
      font-size: rem(12);
      color: $gray-25;
    }
  }

  &__editer {
    display: inline-block;

    li {
      content: "";
      background: url('../img/sprite.png') no-repeat;
      width: 13px;
      height: 12px;
      margin-left: rem(10);
      cursor: pointer;
    }

    .ico-edit,
    .ico-del {
      display: none;
    }

    .ico-pin {
      background-position: -1px -105px;
    }

    .ico-del {
      background-position: -1px -143px;
    }

    .ico-edit {
      background-position: -1px -131px;
    }
  }

  &__status {

    li {
      display: inline-block;
      text-align: center;
      content: "";

      a {
        position: relative;
        display: inline-block;
        height: rem(18);
        width: rem(30);
        line-height: rem(18);
        color: $gray-50;
        vertical-align: middle;

        &::before {
          display: inline-block;
          content: "";
          background: url('../img/sprite.png') no-repeat;
          overflow: hidden;
          width: 15px;
          height: 15px;
        }

        &.ico-plus::before {
          background-position: -1px -89px;
        }

        &.ico-eq::before {
          background-position: -1px -19px;
        }

        &.ico-minus::before {
          background-position: -1px -54px;
        }

      }

      &.active {

        a::before {
          width: 15px;
          height: 18px;
          position: absolute;
          top: rem(-20);
          left: 25%;
        }

        .ico-plus::before {
          background-position: -1px -70px;
        }

        .ico-eq::before {
          background-position: -1px -0px;
        }

        .ico-minus::before {
          background-position: -1px -35px;
        }

      }
    }
  }
}

// message body
.m-message__content-body {
  position: relative;
  padding-bottom: rem(10);
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.m-content__text {
  word-wrap: break-word;
  padding: rem(10);
  font-size: rem(14);
}

// message you
.m-message--you {

  .avatar-l {
    order: 1;
    margin-left: rem(23);
    margin-right: rem(5);
  }

  .m-message__content::after {
    border-left: rem(10) solid $white;
    right: rem(-10);
    left: initial;
  }

  .m-message__content::before {
    right: rem(-13);
    left: initial;
  }

  .m-message__editer {

    li {
      display: inline-block;
    }
  }

}

// message has snippet
.m-message--snippet {

  .m-message__content-header {
    border-top: rem(3) solid $blue;
    background-color: rgba($blue-light, .1);
  }

  .m-message__content::after {
    top: rem(3);
    border-top: rem(10) solid #EFFDFE;
  }

  .m-message__content::before {
    content: "";
    position: absolute;
    top: 0;
    border: rem(10) solid transparent;
    border-top: rem(9) solid $blue;
  }

}

.m-content__snippet {
  max-height: 29vh;
  overflow: auto;
  border-left: rem(3) solid $blue-light;
  background-color: rgba($blue-light, .1);

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 rem(5) $white;
    background-color: $gray-97;
  }

  &::-webkit-scrollbar {
    width: rem(10);
    background-color: $gray-60;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $blue;
    border-radius: rem(10);
  }

  pre {
    padding: rem(10);

  }
}

// message has pinned
.m-message--pinned {

  .m-message__content-header {
    border-top: rem(3) solid $red;
  }

  .m-message__content::after {
    top: rem(3);
    border-top: rem(10) solid $white;
  }

  .m-message__content::before {
    content: "";
    position: absolute;
    top: 0;
    border: rem(10) solid transparent;
    border-top: rem(9) solid $red;
  }

  .ico-pin {
    background-position: -1px -118px;
  }

}


