@import "mixins";
@import "var";
@import "theme";
@import "grid";
// @import "grid-full";



.m-message {
  display: flex;
  margin-bottom: rem(20);
}

.m-message__avatar {
  flex: 1 0 auto;
}

.m-message--else {

  .m-message__avatar {
    order: 0;
    margin-right: rem(23); 
  }

}

.m-message--you {

  .m-message__avatar {
    order: 1;
    margin-left: rem(23); 
  }

}


.m-message__content {
  min-width: 47.14vw; 
  box-sizing: border-box;
  position: relative;
  background-color: #fff;
  border-radius: rem(3);
  box-shadow: 0 rem(1) rem(1) $gray-80; 
  
  &--else::after {
    content: ''; 
    position: absolute; 
    top: 0; 
    left: rem(-10);
    border: rem(10) solid transparent;
    border-top: rem(10) solid #fff;
    border-right: rem(10) solid #fff;
  }

  &--you::after {
    content: ''; 
    position: absolute; 
    top: 0; 
    right: rem(-10); 
    border: rem(10) solid transparent;
    border-left: rem(10) solid #fff;
    border-top: rem(10) solid #fff;   
  }

  &--snippet::after {
    content: ''; 
    position: absolute; 
    top: rem(3); 
    left: rem(-10);
    border: rem(10) solid transparent;
    border-top: rem(10) solid #EFFDFE;
  }

  &--snippet::before {
    content: ''; 
    position: absolute; 
    top: 0; 
    left: rem(-13);
    border: rem(10) solid transparent;
    border-top: rem(9) solid $blue;
  }

  &--pinned::after {
    content: ''; 
    position: absolute; 
    top: rem(3); 
    left: rem(-10);
    border: rem(10) solid transparent;
    border-top: rem(10) solid #fff;
    border-right: rem(10) solid #fff;
  }

  &--pinned::before {
    content: ''; 
    position: absolute; 
    top: 0; 
    left: rem(-13);
    border: rem(10) solid transparent;
    border-top: rem(9) solid $red;
  }
}

.m-message__content-header {
  display: flex;
  box-sizing: border-box; 
  justify-content: space-between;
  align-items: center;
  height: rem(29);
  padding: 0 rem(10) 0 rem(10);
  font-size: rem(12); 
  color: $gray-50;
  border-bottom: rem(1) solid $gray-80;
  
  &--snippet {
    border-top: rem(3) solid $blue;
    background-color: rgba($blue-light, .1); 
  }

  &--pinned {
    border-top: rem(3) solid $red;
  }
}

.m-message__content-body {
  position: relative;
  padding-bottom: rem(10);
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.m-content__text {
  padding: rem(10);
  font-size: rem(14);
}

.m-content__snippet {
  max-height: 29vh;
  overflow: auto;
  border-left: rem(3) solid $blue-light;
  background-color: rgba($blue-light, .1); 

  &::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 rem(5) #fff;
    background-color: $gray-97;
  }

  &::-webkit-scrollbar
  {
    width: rem(10);
    background-color: $gray-60;
  }

  &::-webkit-scrollbar-thumb
  {
    background-color: $blue;
    border-radius: rem(10);
  }

  pre {
    padding: rem(10);
    
  }
}

.m-snippet__seen {
  position: absolute;
  top: rem(40);
  left: rem(-78); 
  font-size: rem(12); 
  color: $gray-50;
}

.m-snippet__seen__number {
  font-size: rem(12);
  color: $gray-25;
}

.m-message__sender, .m-message__time, .m-message__seen-number {
  font-size: rem(12);
  color: $gray-25; 
}

.m-message__editer {
  display: inline-block; 
}

.m-message__holder--off {
  display: inline-block;
  content: "";
  width: rem(13);
  height: rem(12);
  margin-left: rem(10);
  background: url(../img/holder-off.png);
  
  &:hover {
    cursor: pointer;
  }
}

.m-message__edit {
  display: inline-block;
  content: "";
  width: rem(11);
  height: rem(11);
  margin-left: rem(10);
  background: url(../img/edit.png);
  
  &:hover {
    cursor: pointer;
  }
}

.m-message__delete {
  display: inline-block;
  content: "";
  width: rem(9);
  height: rem(11);
  margin-left: rem(10); 
  background: url(../img/del.png);
  
  &:hover {
    cursor: pointer;
  }
}

.m-message__holder--on {
  display: inline-block;
  content: "";
  width: rem(13);
  height: rem(12);
  margin-left: rem(10); 
  background: url(../img/holder-on.png);
  
  &:hover {
    cursor: pointer;
  }
}

.m-status__plus {
  position: relative;
  display: inline-block;
  content: "";
  width: rem(30); 
  text-align: center;

  &--disabled {
    width: rem(30);
    height: rem(15);
    background: url(../img/plus.png) center no-repeat;
  }


  &:hover {
    cursor: pointer;
  }
}

.m-status__plus--enabled:before {
  @extend .m-status__plus;
  position: absolute;
  top: rem(-20); 
  left: 25%;
  width: rem(15);
  height: rem(18);
  background: url(../img/plus-a.png);
}

.m-status__equals {
  position: relative;
  display: inline-block;
  content: "";
  width: rem(30);
  text-align: center; 

  &--disabled {
    width: rem(30);
    height: rem(15);
    background: url(../img/eq.png) center no-repeat;
  }
  
  &:hover {
    cursor: pointer;
  }
}

.m-status__equals--enabled:before {
  @extend .m-status__equals;
  position: absolute;
  top: rem(-20); 
  left: 25%; 
  width: rem(15);
  height: rem(18);
  background: url(../img/eq-a.png);
}

.m-status__minus {
  position: relative;
  display: inline-block;
  content: "";
  width: rem(30); 
  text-align: center;

  &--disabled { 
    width: rem(30);
    height: rem(15);
    background: url(../img/minus.png) center no-repeat;
  }

  &:hover {
    cursor: pointer;
  }
}

.m-status__minus--enabled:before {
  @extend .m-status__minus;
  position: absolute;
  top: rem(-20); 
  left: 25%;
  width: rem(15);
  height: rem(18);
  background: url(../img/minus-a.png);
}
