@import "mixins";
@import "var";
@import "theme";
@import "grid";
// @import "grid-full";

.m_main {
  padding: rem(20); 
}

.m_message {
  display: grid;
  grid-gap: rem(20);
  margin-bottom: rem(20);
  
  &--else {
    grid-template-columns: min-content 1fr;
  }

  &--you {
    grid-template-columns: 1fr min-content;
  }
}

.m_message__avatar {
  @extend .avatar-l;
  
  &--you {
    order: 1;
    // margin-left: rem(23); 
  }

  &--else {
    order: 0;
    // margin-right: rem(23); 
  }
  
}

.m_avatar__status {
  @extend .status;
}

.m_message__content {
  min-width: 47.14vw; 
  box-sizing: border-box;
  position: relative;
  background-color: #fff;
  border-radius: rem(3);
  box-shadow: 0 rem(1) rem(1) $gray-80; 
  
  &--else::after {
    content: ''; 
    position: absolute; 
    top: 0; 
    left: rem(-10);
    border: rem(10) solid transparent;
    border-top: rem(10) solid #fff;
    border-right: rem(10) solid #fff;
  }

  &--you::after {
    content: ''; 
    position: absolute; 
    top: 0; 
    right: rem(-10); 
    border: rem(10) solid transparent;
    border-left: rem(10) solid #fff;
    border-top: rem(10) solid #fff;   
  }

  &--blue::after {
    content: ''; 
    position: absolute; 
    top: rem(3); 
    left: rem(-10);
    border: rem(10) solid transparent;
    border-top: rem(10) solid #fff;
    border-right: rem(10) solid #fff;
  }

  &--blue::before {
    content: ''; 
    position: absolute; 
    top: 0; 
    left: rem(-13);
    border: rem(10) solid transparent;
    border-top: rem(9) solid $blue;
  }

  &--red::after {
    content: ''; 
    position: absolute; 
    top: rem(3); 
    left: rem(-10);
    border: rem(10) solid transparent;
    border-top: rem(10) solid #fff;
    border-right: rem(10) solid #fff;
  }

  &--red::before {
    content: ''; 
    position: absolute; 
    top: 0; 
    left: rem(-13);
    border: rem(10) solid transparent;
    border-top: rem(9) solid $red;
  }
}

.m_message__content__header {
  display: flex;
  box-sizing: border-box; 
  justify-content: space-between;
  align-items: center;
  height: rem(29);
  padding: 0 rem(10) 0 rem(10);
  font-size: rem(12); 
  color: $gray-50;
  border-bottom: rem(1) solid $gray-80;
  
  &--blue {
    border-top: rem(3) solid $blue;
  }

  &--red {
    border-top: rem(3) solid $red;
  }
}

// .m_message__sender-status, .m_message__seen {
//   flex: 1 0 100%/3;
// }

// .m_message__status {
//   flex: 0 1 auto;
// }

.m_message__content__body {
  padding: rem(10);
}

.m_message__sender, .m_message__time, .m_message__seen__number {
  font-size: rem(12);
  color: $gray-25; 
}

.m_message__editer {
  display: inline-block; 
}

.m_content__text {
  font-size: rem(14); 
}

.m_message__holder--off {
  display: inline-block;
  content: "";
  width: rem(13);
  height: rem(12);
  margin-left: rem(10);
  background: url(../img/holder-off.png);
  &:hover {
    cursor: pointer;
  }
}

.m_message__edit {
  display: inline-block;
  content: "";
  width: rem(11);
  height: rem(11);
  margin-left: rem(10);
  background: url(../img/edit.png);
  &:hover {
    cursor: pointer;
  }
}

.m_message__delete {
  display: inline-block;
  content: "";
  width: rem(9);
  height: rem(11);
  margin-left: rem(10); 
  background: url(../img/del.png);
  &:hover {
    cursor: pointer;
  }
}

.m_message__holder--on {
  display: inline-block;
  content: "";
  width: rem(13);
  height: rem(12);
  margin-left: rem(10); 
  background: url(../img/holder-on.png);
  &:hover {
    cursor: pointer;
  }
}

.m_status__plus {
  display: inline-block;
  content: "";
  margin-right: rem(15);
  
  &--disabled {
    width: rem(15);
    height: rem(15);
    background: url(../img/plus.png);
  } 
  
  &:hover {
    cursor: pointer;
  }
}

.m_status__equals {
  display: inline-block;
  content: "";
  margin-right: rem(15); 
  
  &--disabled {
    width: rem(15);
    height: rem(15);
    background: url(../img/eq.png);
  }
  
  &:hover {
    cursor: pointer;
  }
}

.m_status__minus {
  display: inline-block;
  content: "";
  margin-right: rem(15); 
  
  &--disabled { 
    width: rem(15);
    height: rem(15);
    background: url(../img/minus.png);
  }

  &:hover {
    cursor: pointer;
  }
}
